<ion-app>
    <ion-menu side="end" type="push">
        <ion-header>
          <ion-toolbar color="primary" >
            <ion-title>End Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item (click)="openPrivacyPol()">Privacy Policy</ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
