<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="end">
          <ion-menu-button>
          </ion-menu-button>
        </ion-buttons>
    <ion-title>
      EXCHANGE COMPARISON HISTORY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"
    (ionRefresh)="refreshExRateFromCache($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col class="col-md-6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    Look Up:
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h2> FROM: {{from | date}}</h2>
                  </ion-col>
                  <ion-col>
                      <h2> TO: {{to | date}}</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label>yyyy-mm-dd</ion-label>
                      <ion-datetime displayFormat="YYYY-MM-DD"  (ionChange)="updateDate(base, $event)" placeholder="Select FROM Date" [(ngModel)]="date1"></ion-datetime>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                      <ion-item>
                        <ion-label>yyyy-mm-dd</ion-label>
                        <ion-datetime displayFormat="YYYY-MM-DD" (ionChange)="updateDate(base, $event)" placeholder="Select TO Date" [(ngModel)]="date2"></ion-datetime>
                      </ion-item>
                    </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h1>
                    {{base}}
                  </h1>
                  <ion-thumbnail>
                    <img src="../../../assets/imgs/flags/{{base}}.png" />
                  </ion-thumbnail>
                </ion-col>
                <ion-col>
                  <ion-icon name="swap"></ion-icon>
                </ion-col>
                <ion-col>
                  <h1>
                    {{compareTo}}
                  </h1>
                  <ion-thumbnail>
                    <img src="../../../assets/imgs/flags/{{compareTo}}.png" />
                  </ion-thumbnail>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="drop-down" >
                  <ion-button  (click)="toogleDropDown()" fill="outline" color="secondary">
                    <ion-icon slot="icon-only" name="arrow-dropdown"></ion-icon>
                  </ion-button>
                  <ion-list *ngIf="showDropDown" class="data-container" (blur)="toogleDropDown()">
                    <ion-searchbar [(ngModel)]="searchS" autocomplete="on" animated (ionChange)="searchSelect()">
                    </ion-searchbar>
                    <ion-item *ngFor="let currency of currenciesSelect" (click)="updateBase(currency.id, $event)">
                      <ion-label slot="start">{{currency.id}} </ion-label>
                      <ion-thumbnail><img src="{{currency.img}}" /></ion-thumbnail>
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col class="drop-down">
                  <ion-button fill="outline" color="secondary" (click)="toogleDropDown2()">
                    <ion-icon slot="icon-only" name="arrow-dropdown"></ion-icon>
                  </ion-button>
                  <ion-list *ngIf="showDropDownTo" class="data-container" (blur)="toogleDropDown2()">
                    <ion-searchbar [(ngModel)]="searchS2" autocomplete="on" animated
                      (ionChange)="searchSelectCompareTo()"></ion-searchbar>
                    <ion-item *ngFor="let currency of currenciesSelect2" (click)="updateTo(currency.id, $event)">
                      <ion-label slot="start">{{currency.id}} </ion-label>
                      <ion-thumbnail><img src="{{currency.img}}" /></ion-thumbnail>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-md-6">
        <div style="display: block;">
          <canvas baseChart width="300" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>