<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      CURRENCY CONVERTER
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"
    (ionRefresh)="refreshExRateFromCache($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card>
                    <ion-card-content>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <h1>
                            Base Currency: {{ base }}
                          </h1>
                        </ion-col>
                        <ion-col>
                          <ion-thumbnail>
                            <img src="../../../assets/imgs/flags/{{base}}.png" />
                          </ion-thumbnail>
                        </ion-col>
                      </ion-row>
                      <ion-row class="dropDownList" pull="2">
                        <ion-col>
                          <ion-button fill="outline" color="secondary" (click)="toogleDropDown()">
                            <ion-icon slot="icon-only" name="arrow-dropdown"></ion-icon>
                          </ion-button>
                          <ion-list *ngIf="showList" class="data-container" (blur)="toogleDropDown()">
                            <ion-searchbar [(ngModel)]="searchS" autocomplete="on" animated
                              (ionChange)="searchSelect()"></ion-searchbar>
                            <ion-item *ngFor="let currency of currenciesSelect"
                              (click)="updateBase(currency.id, $event)">
                              <ion-label slot="start">{{currency.id}} </ion-label>
                              <ion-thumbnail><img src="{{currency.img}}" /></ion-thumbnail>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                        <ion-col pull="2" >
                          <ion-label >Change Base Currency</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-input min="0" inputmode="numeric" [(ngModel)]="quantity" type="number" placeholder="Quantity..."
                    (ionChange)="calculate()">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-icon name="swap"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="searcher" autocomplete="on" animated (ionChange)="search()"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label>Exchanges: </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let rate of filteredCurrencies">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-thumbnail>
              <img [src]="rate.img" />
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            {{ rate.id }}
          </ion-col>
          <ion-col>
            {{ rate.value | currency: rate.id :true}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>